.container {
    display: flex;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.container img {
    float: left;
    margin-right: 20px;
    border-radius: 10%;
}
.container span {
    font-size: 20px;
    margin-right: 15px;
}
.item-grid-container {
  display: grid;
  background-color: #dddddd;
  grid-template-columns: repeat(auto-fit, minmax(200px, 22%));
  grid-template-rows: repeat(auto-fit, minmax(50%, auto));
  padding: 20px;
  margin: 20px;
  row-gap: 10px;
  column-gap: 20px;
}
.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.item-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.item-wrapper h4 {
    margin: 10px;
}
.item-wrapper h5 {
    margin: 10px;
    color: #007bff;
}

.item-wrapper button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;}

.item-wrapper button:hover {
    background-color: #45a049;

}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}
.nav a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.about-us a {
    display: flex;
    text-align: center;
}

.about-us p {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

footer p{
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: #fff;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.contact-method {
    background-color: #ddd; /* medium gray background */
    padding: 0px;
    margin: 10px;
    border-radius: 10px; /* rounded corners */
}
.contact-method a:hover {
    color: #007BFF;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.login .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login input[type=text]{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}   

.login input[type=password]{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}   

.password-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login button[type=button]{
    color: #fff;
    border-color: #4CAF50;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login button[type=button]:hover{
    background-color: #45a049;
    opacity: 1.0;
}

.register a:hover{
    color: #007BFF;
}

.messageBox{
    display: flex;
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}