.container {
    display: flex;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.container img {
    float: left;
    margin-right: 20px;
    border-radius: 10%;
}
.container span {
    font-size: 20px;
    margin-right: 15px;
}
.product-list {
	background-color: #ddd;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    margin: 0 auto;
    text-align: center;
}

/* Product Styling */
.product {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50%; /* Ensure two products per line with spacing */
    text-align: center;
}
/* Product Container Styles */
.product-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product .item-price {
    color: #007BFF;
    font-weight: bold;
}

/* Hover Effect */
.product:hover {
    background-color: #ffffff;
}

/* Button Styling */
.product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.product button:hover {
    background-color: #45A049;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0; /* Adds some padding around each cart item */
}

.cart-detail {
    display: flex;
    align-items: center;
}

.cart-detail.name {
    flex-grow: 1; /* Allows the name to grow and fill available space */
}

.cart-detail.price, .cart-detail.quantity-container {
    /* Ensure these elements do not grow and are aligned */
    flex-grow: 0;
    display: flex;
    align-items: center;
}

.cart-detail.quantity-container {
    margin-left: 10px; /* Creates space between price and quantity */
    padding: 5px;
    gap: 10px; /* Creates space between quantity and button */
}

.remove-btn {
    background-color: #434343;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.remove-btn:hover {
    background-color: #ff0000;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}
.nav a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.about-us a {
    display: flex;
    text-align: center;
}

.about-us p {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

footer p{
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: #fff;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.contact-method {
    background-color: #ddd; /* medium gray background */
    padding: 0px;
    margin: 10px;
    border-radius: 10px; /* rounded corners */
}
.contact-method a:hover {
    color: #007BFF;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.login .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login input[type=text]{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}   

.login input[type=password]{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}   

.password-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login button[type=button]{
    color: #fff;
    border-color: #4CAF50;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login button[type=button]:hover{
    background-color: #45a049;
    opacity: 1.0;
}

.register a:hover{
    color: #007BFF;
}

.messageBox{
    display: flex;
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.sign-up .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-up label{
    display: block;
    margin: 10px;
}

.sign-up input{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.sign-up button{
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.sign-up button:hover{
    background-color: #45a049;
    opacity: 1.0;
}

.messageBox {
    border: 2px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}