.container {
    display: flex;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.container img {
    float: left;
    margin-right: 20px;
    border-radius: 10%;
}
.container span {
    font-size: 20px;
    margin-right: 15px;
}
.item-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 22%));
  grid-template-rows: repeat(auto-fit, minmax(50%, auto));
  padding: 10px;
  row-gap: 10px;
  column-gap: 40px;
}
.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 16px 0;

}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}
.nav a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.about-us a {
    display: flex;
    text-align: center;
}

.about-us p {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
}

footer p{
    background-color: #333;
    padding: 10px;
    margin: 0px;
    color: #fff;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.contact-method {
    background-color: #ddd; /* medium gray background */
    padding: 0px;
    margin: 10px;
    border-radius: 10px; /* rounded corners */
}
.contact-method a:hover {
    color: #007BFF;
}